collections:
  workshops:
    output: true
    permalink: /workshop/:name/

defaults:
  - scope:
      path: ""
      type: "workshops"
    values:
      layout: "workshop"
  - scope:
      path: ""
      type: "posts"
    values:
      layout: "post"
  - scope:
      path: ""
    values:
      layout: "default"
