// Simple CSS Reset
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: $font-stack;
    line-height: 1.6;
    color: $color-text;
    background-color: $color-background;
    padding: $padding-large; // Add some padding around the content
}

h1, h2, h3 {
    font-family: $header-font-stack;
    color: $color-primary;
}

a {
    color: $color-primary;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}
