// --- Typography ---
$font-stack: 'Montserrat', sans-serif; 
$header-font-stack: 'Roboto Slab', serif; 

// Official SFU colours 
$color-primary: #33569B;      
$color-secondary: #A6192E;    
$color-text: #222222;            
$color-background: #f8f9fa;   
$color-border: #ccc;          

// --- Spacing ---
$spacing-unit: 1rem;
$padding-small: $spacing-unit * 0.5;
$padding-large: $spacing-unit * 1.5;
