<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{page.title}}</title>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Jua&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="/assets/css/styles.css">
        {% assign favicon_path = "/assets/favicons" %}

        <!-- Standard Favicon -->
        <link rel="icon" type="image/x-icon" sizes="180x180" href="{{ favicon_path | append: '/apple-touch-icon.png' | relative_url }}">

        <link rel="icon" type="image/x-icon" href="{{ favicon_path | append: '/favicon.ico' | relative_url }}">
        <!-- Apple Touch Icon (for iOS home screen) -->
        <link rel="apple-touch-icon" sizes="180x180" href="{{ favicon_path | append: '/apple-touch-icon.png' | relative_url }}">

        <!-- Web App Manifest (for Android/Progressive Web Apps) -->
        <link rel="manifest" sizes="192x192" href="{{ favicon_path | append: '/android-chrome-192x192.png' | relative_url }}">
    </head>
    <body>
        {% include navigation.html %}
        {{ content }}

        <script src="{{ '/assets/js/target-blank.js' | relative_url }}"></script>
    </body>
</html>
